{% extends 'base.html' %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Editar Perfil</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-borderless">
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
            <a href="{% url 'profile' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}