{% extends 'base.html' %}

{% block contenido %}
<div class="row mt-5">
    <div class="col-md-4">
        <img src="https://via.placeholder.com/300" class="img-fluid rounded-circle" alt="Foto de perfil">
    </div>
    <div class="col-md-8">
        <h2>Acerca de mí</h2>
        <p class="lead">¡Hola! Soy Euge.</p>
        <p>Estudiante de Python y analista de datos. Este blog es parte de mi portafolio donde comparto mis aprendizajes y proyectos.</p>
        <p>Me gusta la tecnología, el café y resolver problemas complejos con código.</p>
    </div>
</div>
{% endblock %}